In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/movement-speeds-hourly-new-york-2018-10.csv")

In [6]:
df.head()

,year,month,day,hour,utc_timestamp,segment_id,start_junction_id,end_junction_id,speed_mph_mean,speed_mph_stddev
0,2018,10,11,19,2018-10-11T23:00:00.000Z,96c556b9b741484c5a14d225f501a435e2bef133,53dfa64f19673d5c74bd043f5e285136bc74d0bc,bf5bb1427013b8e37ef45d6c31d6b9b76128eb5f,7.517,4.950
1,2018,10,31,14,2018-10-31T18:00:00.000Z,96c556b9b741484c5a14d225f501a435e2bef133,53dfa64f19673d5c74bd043f5e285136bc74d0bc,bf5bb1427013b8e37ef45d6c31d6b9b76128eb5f,11.137,7.112
2,2018,10,4,18,2018-10-04T22:00:00.000Z,96c556b9b741484c5a14d225f501a435e2bef133,53dfa64f19673d5c74bd043f5e285136bc74d0bc,bf5bb1427013b8e37ef45d6c31d6b9b76128eb5f,12.190,5.467
3,2018,10,6,6,2018-10-06T10:00:00.000Z,96c556b9b741484c5a14d225f501a435e2bef133,53dfa64f19673d5c74bd043f5e285136bc74d0bc,bf5bb1427013b8e37ef45d6c31d6b9b76128eb5f,13.182,3.845
4,2018,10,13,18,2018-10-13T22:00:00.000Z,96c556b9b741484c5a14d225f501a435e2bef133,53dfa64f19673d5c74bd043f5e285136bc74d0bc,bf5bb1427013b8e37ef45d6c31d6b9b76128eb5f,8.362,5.778

In [4]:
df.shape

(21560312, 10)

In [7]:
df.describe()

,year,month,day,hour,speed_mph_mean,speed_mph_stddev
count,21560312.0,21560312.0,2.156031e+07,2.156031e+07,2.156031e+07,2.156031e+07
mean,2018.0,10.0,1.607836e+01,1.293991e+01,2.213546e+01,8.316770e+00
std,0.0,0.0,8.856779e+00,6.582117e+00,1.099698e+01,4.097629e+00
min,2018.0,10.0,1.000000e+00,0.000000e+00,6.700000e-01,3.000000e-02
25%,2018.0,10.0,8.000000e+00,8.000000e+00,1.460100e+01,5.600000e+00
50%,2018.0,10.0,1.600000e+01,1.400000e+01,2.048900e+01,7.688000e+00
75%,2018.0,10.0,2.400000e+01,1.900000e+01,2.681800e+01,1.020600e+01
max,2018.0,10.0,3.100000e+01,2.300000e+01,7.711800e+01,4.167400e+01

In [8]:
columnNames = list(df.head(0)) 
print(columnNames)

['year', 'month', 'day', 'hour', 'utc_timestamp', 'segment_id', 'start_junction_id', 'end_junction_id', 'speed_mph_mean', 'speed_mph_stddev']

In [9]:
print(df.dtypes.index)

Index(['year', 'month', 'day', 'hour', 'utc_timestamp', 'segment_id',
       'start_junction_id', 'end_junction_id', 'speed_mph_mean',
       'speed_mph_stddev'],
      dtype='object')